// Tablet & Smaller

@media (max-width: 500px) {
    #main-nav {
        flex-direction: column;
        align-items: center;

        li {
            padding: 1rem;
        }
    }

    #header {
        &-home {
            .header-content {
                text-align: start;
                h1 {
                    display: inline-block;
                    height: 304px;
                    margin-bottom: 1rem;
                }
            }
        }

        &-inner {
            height: 10rem;
            &::before {
                background: $bg-image no-repeat center 45% / cover;
            }
        }
    }

    #home {
        &-a .specials {
            grid-template-columns: 1fr;
        }

        &-b .stats {
            grid-template-columns: repeat(2, 1fr);
        }

        &-c .process {
            grid-template-columns: 1fr;
        }
    }

    #about {
        &-a {
            .about-info {
                grid-template-areas:
                    "bioimage"
                    "bio"
                    "aw1"
                    "aw2"
                    "aw3";
            }
            .bio {
                border-left: none;
                border-top: 3px solid $main-color;
            }
        }
        &-c {
            display: none;
        }
        &-d {
            .testimonials {
                grid-template-columns: 1fr;
                > div {
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .items {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        box-shadow: none;
        .item {
            box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3), -5px -5px 10px 0 rgba(0, 0, 0, 0.3);
        }
    }

    #contact {
        &-a {
            .text-fields {
                grid-template-areas:
                    "name"
                    "email"
                    "subject"
                    "phone"
                    "message";
            }
        }

        &-b {
            .contact-info {
                display: grid;
                grid-template-columns: 1fr;
                grid-gap: 1.5rem;
                text-align: center;

                > div {
                    border-bottom: 1px solid #555555;
                    padding-bottom: 1.5rem;
                }
                > div:last-child {
                    border-bottom: none;
                    padding-bottom: 1.5rem;
                }
            }
        }

        &-c {
            h1 {
                text-align: center;
                font-size: 4rem;
            }
        }
    }

    #main-footer {
        height: 6.5rem;

        .footer-content {
            padding-top: 1rem;
            flex-direction: column;
            height: 100%;

            .social .fab {
                margin: 0.8rem 0;
            }
        }
    }
}
